/* GlOBAL CSS */

body{
    background-color: #FF2070;;
}

.title {
font-family: "fatfrank", sans-serif;
font-size: 30px;
font-weight: 400;
font-style: normal;
color: #FF2070;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.whatsapp-button {
  padding: 10 20px;
  align-items: center;
  justify-content: center;
  gap: 6.647px;
  background-color: #5CB453;
  position: absolute; 
  bottom: -100px;
  right: -50px;
  border-radius: 57.606px;

  

  font-family: "fatfrank", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: #F3EDE5;
  
}

 /* MONITOR SCREEN CSS  */
@media only screen and (min-device-width: 401px) {
    .phone-container {
      display: none;
      
    }
    .monitor-container {
      display: block;
    }
  }

 /* IPHONE SCREEN CSS  */
@media screen and (max-width:400px) {
    .phone-container {
        display: block;
        max-width: 100vw;

      }
    .monitor-container {
    display: none;
    }

    .navbar {
      height: 135px;
      width: auto;
      max-width: 100vw;
      background-color: #F3EDE5;
    }
    .col {
      flex: inherit
    }
    .socialIcon {
      text-decoration: none;
      color: #F3EDE5;
    }
}
